{% extends 'base.html.twig' %}

{% block title %}New TelegramLogWebhook{% endblock %}

{% block body %}
    <h1>Create new TelegramLogWebhook</h1>

    {{ include('telegram_log_webhook_backend/_form.html.twig') }}

    <a href="{{ path('app_telegram_log_webhook_backend_index') }}">back to list</a>
{% endblock %}
